<mat-card fxLayout="row" fxLayoutAlign="center center">

  <mat-card-content fxLayout="row"
                    fxFlex
                    fxLayout.xs="column"
                    fxLayoutGap="2rem"
                    fxLayoutAlign="center center">
    <!--main image-->
    <img *ngIf="imgURL"
         mat-card-xl-image
         [src]="imgURL">

    <!--content-->
    <div fxLayout="column" [fxFlex]="imgURL ? 50 : 100">
      <ng-container [ngTemplateOutlet]="jumbotronContent.content"></ng-container>
    </div>
  </mat-card-content>

</mat-card>
