<mat-jumbotron imgURL="assets/logo.svg">
  <mat-jumbotron-content>
    <h1 class="display-1" ngClass.xs="display-3 text-center" ngClass.sm="display-3">jumbotron</h1>
    <p class="headline" ngClass.xs="text-center">Angular UI open source library built
      with material design in order to illustrate a highlighted/important information for the user
    </p>

    <p class="text-center"> Scroll down to see it in action!</p>

    <div fxLayout="row" fxLayout.xs="column"
         fxLayoutGap.xs="1rem"
         fxLayoutAlign="center center">
      <a mat-stroked-button
         color="primary"
         target="_blank"
         href="https://github.com/angular-material-extensions/jumbotron">
        <mat-icon>code</mat-icon>
        Code on Github
      </a>
      <a mat-stroked-button
         color="primary"
         target="_blank"
         href="doc/index.html">
        <mat-icon>note</mat-icon>
        Documentation
      </a>
    </div>

  </mat-jumbotron-content>
</mat-jumbotron>


<section class="home">
  <div class="container">

    <mat-card>
      <mat-card-content>
        <mat-tab-group>
          <!--tab 1-->
          <mat-tab>
            <ng-template mat-tab-label>HTML</ng-template>
            <pre><code highlight [code]="html"></code></pre>
          </mat-tab>

          <!--tab2 TS-->
          <mat-tab>
            <ng-template mat-tab-label>TS</ng-template>
            <pre><code highlight [code]="ts"></code></pre>
          </mat-tab>

          <!--tab2 SCSS-->
          <mat-tab>
            <ng-template mat-tab-label>SCSS</ng-template>
            <pre><code highlight [code]="scss"></code></pre>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</section>

