<mat-card>

  <mat-card-content fxLayout="row"
                    fxLayout.xs="column"
                    fxLayoutGap="2rem"
                    fxLayoutAlign="center center">
    <!--main image-->
    <img mat-card-image src="assets/logo.svg">

    <!--highlighted information text-->
    <div fxLayout="column">
      <h1 class="display-1" ngClass.xs="display-4" ngClass.sm="display-3">jumbotron</h1>
      <p class="headline">Angular UI open source library built with material design in order to illustrate a
        highlighted/important
        information for the user

        Scroll down to see it in action!</p>
    </div>

  </mat-card-content>

</mat-card>
